<template>
    <h1>Details</h1>

    <div>
        <h4>Artist</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                FirstName
            </dt>
            <dd class = "col-sm-10">
                ${_artist.firstName}
            </dd>
            <dt class = "col-sm-2">
                LastName
            </dt>
            <dd class = "col-sm-10">
                ${_artist.lastName}
            </dd>
            <dt class = "col-sm-2">
                PaintingCount
            </dt>
            <dd class = "col-sm-10">
                ${_artist.paintingCount}
            </dd>
            <dt class = "col-sm-2">
                Country
            </dt>
            <dd class = "col-sm-10">
                ${_artist.country}
            </dd>     
        </dl>
    </div>
    <div>
        <a href="/Artists/Edit/e9658e63-80e5-4da4-9e7a-77d797ff2e2a">Edit</a> |
        <a route-href="route: artists">Back to List</a>
    </div>
    
            </main>
        </div>  
</template>