<template>
    <h1 class="text-center">Details</h1>

    <div>
        <h4 class="details-title">${_artist.firstName} ${_artist.lastName}</h4>
        <hr />

        <div class="details-title">
            <b>Country</b>
            <p>${_artist.country}</p>
            <b>Date of Birth</b>
            <p>${_artist.dateOfBirthString}</p>
            <b>Bio</b>
            <p>${_artist.bio}</p>
            <b>Place of Birth</b>
            <p>${_artist.placeOfBirth}</p>
        </div>

        <div class="container">
            <a route-href="route: paintingDetails; params.bind: {id: painting.id}" repeat.for="painting of _artist.paintings">
                <img src="${painting.imageUrl}" style="width: 22rem;">
            </a>
        </div>

    </div>
    <div>
        <div if.bind="appState.jwt != null && appState.UserIsAdmin()">
            <a route-href="route: artistEdit; params.bind: {id: _artist.id}">Edit</a> |
        </div>
        <a route-href="route: artists">Back to List</a>
    </div>

    </main>
    </div>
</template>