
<template>
    <h1>Artists</h1>

    <p>
        Here we have the talented artists whose artworks have, at some point been sold on our site.
    </p>

    <div if.bind="appState.jwt != null && appState.UserIsAdmin()">
        <a route-href="route: artistCreate">Create New</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="artist of _artists">
                <td>
                    <a route-href="route: artistDetails; params.bind: {id: artist.id}"> ${artist.firstName} ${artist.lastName}</a>
                </td>
                <td>
                    <div if.bind="appState.jwt != null && appState.UserIsAdmin()">
                        <a route-href="route: artistEdit; params.bind: {id: artist.id}">Edit</a> |
                        <a route-href="route: artistDelete; params.bind: {id: artist.id}">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
</template>