<template>
    <h1>Orders</h1>


    <div class="form-group">
        <label for="exampleFormControlSelect1">Sort by Date</label>
        <select class="form-control" id="exampleFormControlSelect1" value.bind="_condition" change.delegate="filter()">
            <option model.bind="null">Choose...</option>
            <option model.bind="'ascending'">Oldest first</option>
            <option model.bind="'descending'">Newest first</option>
        </select>
    </div>


    <div>
        <div class="form-check form-check-inline" repeat.for="orderStatus of _orderStatusCodes">
            <input class="form-check-input" type="checkbox" id="${orderStatus.code}" value="${orderStatus.code}"
                checked.bind="_orderStatusCodesString" change.delegate="filter()">
            <label class="form-check-label" for="${orderStatus.code}"> ${orderStatus.code}</label>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Order Details
                    </th>
                    <th>
                        Order Date
                    </th>
                    <th>
                        Order Status
                    </th>
                    <th>
                        Total
                    </th>
                    <th if.bind="_showDetails == true">
                        Address
                    </th>
                    <th if.bind="_showDetails == true">
                        Address
                    </th>
                    <th if.bind="_showDetails == true">
                        Name
                    </th>
                    <th if.bind="_showDetails == true">
                        Country, City, Zip
                    </th>
                    <th if.bind="_showItemDetails == true">
                         Items
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="order of _orders">
                    <td>
                        User: ${order.userName} ${order.orderDetails}
                    </td>
                    <td>
                        ${order.orderDate}
                    </td>
                    <td>
                        <b>${order.orderStatusCode}</b> - ${order.orderStatusDescription}
                        <br>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary"
                                click.delegate="changeStatus(orderStatus.id, order)"
                                repeat.for="orderStatus of _orderStatusCodes"
                                disabled.bind="order.orderStatusCode == orderStatus.code ? true : false">Mark as
                                '${orderStatus.code}'</button>
                        </div>

                    </td>
                    <td>
                        ${order.total}€
                    </td>
                    <td if.bind="order.invoice != null">
                        <b>${order.invoice.invoiceStatusCode.code}</b> - ${order.invoice.invoiceStatusCode.invoiceStatusDescription}
                    </td>
                    <td if.bind="_showDetails == true">
                        ${order.address.shippingAddress}
                    </td>
                    <td if.bind="_showDetails == true">
                        ${order.address.firstName} ${order.address.lastName}
                    </td>
                    <td if.bind="_showDetails == true">
                        ${order.address.country},
                        ${order.address.city},
                        ${order.address.zip}
                    </td>
                    <td if.bind="_showItemDetails == true">
                        <p repeat.for="orderItem of order.orderItems">Title: <a route-href="route: paintingDetails; params.bind: {id: orderItem.paintingId}">${orderItem.paintingTitle}</a> Price: ${orderItem.paintingPrice}€ Quantity: ${orderItem.quantity}</p>
                    </td>
                    <td if.bind="_showDetails == true || _showItemDetails == true">
                        <button click.delegate="hide()" class="btn btn-primary">Hide details</button>
                    </td>
                    <td if.bind="order.invoice != null">
                        <button click.delegate="downloadInvoice(order.invoice)" class="btn btn-primary">Download Invoice</button>
                    </td>
                    <td if.bind="_showDetails == false">
                        <button click.delegate="changeShowDetails()" class="btn btn-primary">Show shipping
                            details</button>
                    </td>
                    <td if.bind="_showItemDetails == false">
                        <button class="btn btn-primary" click.delegate="showItemDetails()">Show item
                            details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>