<template>
    <h1>Create</h1>

    <h4>Comment</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="Description">CommentBody</label>
                    <input class="form-control" type="text"  id="Description" maxlength="4096" name="Description" value.bind="_commentBody"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Artist">Painting</label>
                    <select class="form-control" type="text"  id="Artist" maxlength="36" name="Artist" value.bind="_paintingId">
                        <option repeat.for="painting of _paintings" value.bind="painting.id">${painting.title} ${painting.title}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: comments">Back to List</a>
    </div> 
</template>