<template>
    <h1>Details</h1>

    <div>
        <h4>Comment</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                CommentBody
            </dt>
            <dd class = "col-sm-10">
                ${_comment.commentBody}
            </dd>
            <dt class = "col-sm-2">
                PaintingTitle
            </dt>
            <dd class = "col-sm-10">
                ${_comment.paintingTitle}
            </dd> 
        </dl>
    </div>
    <div>
        <a route-href="route: commentEdit; params.bind: {id: _comment.id}">Edit</a> |
        <a route-href="route: comments">Back to List</a>
    </div>
    
            </main>
        </div>  

</template>