<template>
    <h1>Index</h1>

<p>
    <a route-href="route: commentCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                CommentBody
            </th>
            <th>
                Painting Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="comment of _comments">
            <td>
                ${comment.commentBody}
            </td>
            <td>
                ${comment.paintingTitle}
            </td>
            <td>
                <a route-href="route: commentEdit; params.bind: {id: comment.id}">Edit</a> |
                <a route-href="route: commentDetails; params.bind: {id: comment.id}">Details</a> |
                <a route-href="route: commentDelete; params.bind: {id: comment.id}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

        </main>
    </div>

</template>