<template>
    <h1>Index</h1>

<p>
    <a href="/UserPaymentMethods/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PaymentMethod
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr repeat.for="userPaymentMethod of _userPaymentMethods">
            <td>
                ${userPaymentMethod.userPaymentMethod}
            </td>
            <td>
                <a href="/UserPaymentMethods/Edit/d111fd71-3bfe-45aa-ae27-08d7df995b34">Edit</a> |
                <a href="/UserPaymentMethods/Details/d111fd71-3bfe-45aa-ae27-08d7df995b34">Details</a> |
                <a href="/UserPaymentMethods/Delete/d111fd71-3bfe-45aa-ae27-08d7df995b34">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

        </main>
    </div>
</template>