<template>
    <h1>Create</h1>

    <h4>Painting</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="Description">Description</label>
                    <input class="form-control" type="text" id="Description" maxlength="4096" name="Description"
                        value.bind="_painting.description" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Price">Price</label>
                    <input class="form-control" type="number" id="Price" name="Price"
                        value.bind="_price" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Title">Title</label>
                    <input class="form-control" type="text" id="Title" maxlength="36" name="Title"
                        value.bind="_painting.title" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Size">Size</label>
                    <input class="form-control" type="text" id="Size" maxlength="16" name="Size"
                        value.bind="_painting.size" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="file">Image</label>
                    <input name="file" id="file" type="file" accept=".jpg,.png,.jpeg" files.bind="_selectedFile"
                        class="form-control" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Quantity">Quantity</label>
                    <input class="form-control" type="number" id="Quantity" name="Quantity"
                        value.bind="_quantity" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Artist">Artist</label>
                    <select class="form-control" type="text" id="Artist"  name="Artist"
                        value.bind="_artistId">
                        <option repeat.for="artist of _artists" value.bind="artist.id">${artist.firstName}
                            ${artist.lastName}</option>
                    </select>
                </div>
                <!--
                <div class="form-group">
                    <label class="control-label" for="PaintingCategory">Painting Category</label>
                    <select class="form-control" type="text"  id="PaintingCategory" maxlength="36" name="PaintingCategory" value.bind="_categoryId">
                        <option repeat.for="category of _categories" value.bind="category.id">${category.categoryName}</option>
                    </select>
                </div>
            -->
                <div class="form-group">
                    <label class="control-label" for="PaintingCategories">Painting Categories</label>
                    <div repeat.for="category of _categories">
                        <input type="checkbox" value.bind="category.id" checked.bind="_categoryIds"
                            click.delegate="onClick()">
                        <label>${category.categoryName}</label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: paintings">Back to List</a>
    </div>
</template>