<template>
    <h1>Gallery</h1>

    <p>
    <div if.bind="appState.jwt !== null && appState.UserIsAdmin()">
        <a route-href="route: paintingCreate">Create a New Painting</a>
    </div>
    </p>

    <label for="cars">Filter: </label>

    <select name="cars" id="cars">
        <option value="volvo">Price ascending</option>
        <option value="saab">Price descending</option>
        <option value="saab">Date added</option>
    </select>

    <div class="card-deck">
        <div repeat.for="painting of _paintings">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=${imageURL} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">${painting.title}</h5>
                    <h6 class="card-subtitle">${painting.price} €</h6>
                    <h6 class="card-subtitle">${painting.artistName}</h6>
                    <a route-href="route: paintingDetails; params.bind: {id: painting.id}"
                        class="btn btn-primary">Details</a>
                    <div if.bind="appState.jwt !== null && appState.UserIsAdmin()">
                        <a route-href="route: paintingEdit; params.bind: {id: painting.id}">Edit</a> |
                        <a route-href="route: paintingDelete; params.bind: {id: painting.id}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>