<template>
    <h1>Index</h1>

    <p>
        <a route-href="route: paintingCreate">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Size
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="painting of _paintings">
                <td>
                    ${painting.title}
                </td>
                <td>
                    ${painting.size}
                </td>
                <td>
                    ${painting.price}
                </td>
                <td>
                    <a route-href="route: paintingEdit; params.bind: {id: painting.id}">Edit</a> |
                    <a route-href="route: paintingDetails; params.bind: {id: painting.id}">Details</a> |
                    <a route-href="route: paintingDelete; params.bind: {id: painting.id}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</template>