<template>
    <h1 class="text-center">Quizzes and Polls</h1>

    <div if.bind="appState.jwt !== null && appState.UserIsAdmin()">
        <a route-href="route: quizCreate">Create New</a>
    </div>

    <div repeat.for="quizType of _quizTypes" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="${quizType.type}"
            value.bind="quizType.type" checked.bind="_categoryNames" change.delegate="filter()">
        <label class="form-check-label" for="${quizType.type}">${quizType.type}</label>
    </div>

    <div class="card-group">
        <div repeat.for="quiz of _quizzes">
            <div class="card text-center" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">${quiz.title}</h5>
                    <h6 class="card-subtitle">${quiz.quizType}</h6>
                    <br>
                    <div if.bind="quiz.showStatistics == true">
                        <p>Times completed in total: ${quiz.howManyTimesDone}</p>
                        <p if.bind="quiz.quizType == 'Quiz'">Times correctly completed: ${quiz.completelyCorrectAnswers}</p>
                    </div>
                    <button class="btn btn-outline-primary" click.delegate="viewStatisticsForQuiz(quiz)" if.bind="quiz.showStatistics == false">View statistics</button>
                    <button class="btn btn-outline-primary" click.delegate="hideStatisticsForQuiz(quiz)" if.bind="quiz.showStatistics == true">Hide statistics</button>
                    <a route-href="route: quizDetails; params.bind: {id: quiz.id}" class="btn btn-outline-primary"
                        role="button">Go to ${quiz.quizType}</a>
                </div>
            </div>
        </div>
    </div>
</template>